html,body,div,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,a,pre,abbr,acronym,ul,ol,li,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:small; font-family:inherit; vertical-align:baseline; line-height: normal; }
body { font-family: Helvetica, Arial, sans-serif;  }
h1, h2, h3, h4, h5, h6, h7 { }
h1 { letter-spacing: -0.04em; font-size:2.5em; font-weight:300; margin-bottom:0px; }
h2 { font-size:2.2em; }
h3 { font-size:1.9em; }
h4 { font-size:1.3em; }
h5 { font-size:.9em; }
a { text-decoration:none; text-underline:none; } a:hover { }
html {overflow-y: scroll;}


body { font-family:sans-serif; max-width:960px; margin:auto; color:#333;  }
input { padding:5px; border:2px solid #333; vertical-align:middle; }
select { padding: 4px; border:2px solid #333; }

#wrap { padding:5%;  }

#dateDue { width: 170px; }
#description { width: 250px; }

#createTask { float:right; background:#27AAE1; color:#FFF; padding-left:10px; padding-right:10px }
#editTask { padding:5px; border:0px solid #333; }

#header { width: 100%; padding: 20px 2% 20px 2%; background: #27AAE1; position:relative; border-radius: 15px 15px 0 0; margin:auto; }
#header h3 { color:#FFF; }
#header p { float: right; position: absolute; top: 7px; right: 20px; margin:20px 0 20px 0; font-size:1.2em}

#control-wrap { width:100%; background:#333; padding: 2% 2% 1% 2%; margin:auto; }
#controls { background:#333;   margin:auto;  }

#list-header { background-color:#555; width:100%; }
.header-item { color:#FFF; display:inline-block; width:196px; text-align:center; padding:5px 10px 5px 10px; }

.body-title { font-size:16pt; color:#FFF; margin:10px 0 10px 0; }

#list-wrap { background:#333; width:100%; padding:1% 2% 3% 2%;  }
#incomplete { background:#FFF; margin:0 0 20px 0; min-height:100px; }
#complete { background:#FFF; margin:0 0 20px 0; }
.item { background: white; width: 100%; border-bottom: 1px solid #CCC; font-size: 10pt; position:relative; padding:1% 0 1% 0; }
.strikeout { background:#555; width:75%; height:1px; position:absolute; top:50%; z-index:999; margin:auto; display:none; }

.details { display:inline-block; padding:0px 10px 0px 10px; width:196px; overflow:hidden; text-align:left; vertical-align:middle; }

.task { width:170px }
.description { width: 380px; }
.priority { width:36px;  border-right:1px solid #CCC; }
.checkbox { width:70px; text-align:center; }
.remove-button { width:auto; text-align:center; }

#removeItem { border:2px solid #FFF; margin:0 15px 0 15px; font-size:8pt; }

#footer { width: 100%; padding: 1px 2% 1px 2%; height:40px; background: #27AAE1; position: relative; border-radius:0 0 10px 10px; margin: auto; }